---
project: AleeCorp
---

<!DOCTYPE HTML>
<HTML>

<HEAD>
  {% include heading.html %}
  <TITLE>Home | {{ site.title }}</TITLE>
</HEAD>

<BODY>
  {% include navigator.html %}
  <div class="jumbotron">
    <h1><center>{{ site.title }} Homepage</center></h1>
    <h3>
      <center><b>{{ site.description }}</b></center>
    </h3>
  </div>
  <div class="container">
    <p>Welcome to the AleeCorp website!</p>
    <p>Please note that we are still working on this website and things are still experimentation.</p>
  </div>
  {% include footing.html %}
  {% include footer.html %}
</BODY>

</HTML>